{:linters {:unresolved-symbol {:exclude [cambium.core/trace
                                        cambium.core/debug  
                                        cambium.core/info
                                        cambium.core/warn
                                        cambium.core/error
                                        cambium.core/fatal]}}}
