<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>tracker-mcp.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Making sure no logging pollutes stdout -->
  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>